#links{
   margin-left: -90px; 
}
#links img{
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

#shop-tab, #top-nav-btn, #shirt-prev, #hoodie-prev, #longsleeve-prev, #shows-tab, #music-tab, #catheaven-page, #vans-page, #shell-page, #uk-page, #sucker-page{
  cursor: pointer;
}

li{
  color: #fff;
  font-weight: 400;
  text-align: right;
  height: 18px;
}

ul {
    list-style:none;
    -webkit-padding-start: 0px;
    float:right;
}
a {
    position: relative;
}
a:hover{
  text-decoration: none !important;
}


#home-bg{
    background: url(../img/Lanza_016.jpg) no-repeat center center fixed;;
    background-size: cover;
    width:100%;
    height:100%;
}

#links{
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right, top;
}

#links a img{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#home-navigation{
  margin-bottom: 2.5rem;
}
#home-navigation a li{
  display: inline;
}

#centered-nav{
  position: absolute;
  bottom:0;
  left: 51.5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#center-title{
  position: absolute;
  top: 49%;left: 52.3%;
}
.container.h-100 > #center-title{
  transform: translate(-50%, -50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
}



@media(min-width: 0px){
  #shirt-home{
    width: 80%;
    height: 80%;
  }
  .col-5{
    -ms-flex: 0 0 82.4% !important;
    flex: 0 0 82.4% !important;
    max-width: 82.4% !important;
  }
  #center-title p{
    font-size:1.8em;
  }
  li{
    font-size: 1em;
  }
  #home-navigation a li{
    margin-right: 33px;
  }
  #centered-nav{
    width: 285.2px;
  }
}

@media(min-width: 450px){
  #shirt-home{
    width: 70%;
    height: 70%;
  }
  .col-5{
    -ms-flex: 0 0 71.666667% !important;
    flex: 0 0 71.666667% !important;
    max-width: 71.666667% !important;
  }
}

@media(min-width: 500px){
  #center-title p{
    font-size:2.3em;
  }
  li{
    font-size: 1.2em;
  }

  #home-navigation a li{
    margin-right: 38px;
  }
  #centered-nav{
    width: 334.7px;
  }
}

@media(min-width: 770px){
  #shirt-home{
    width: 40%;
    height: 40%;
  }
  .col-5{
    -ms-flex: 0 0 41.666667% !important;
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }
}












