#links{
      margin-top: 2.8%;
}
#links img{
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

#shop-tab, #top-nav-btn, #shirt-prev, #hoodie-prev, #longsleeve-prev, #shows-tab, #music-tab, #catheaven-page, #vans-page, #shell-page, #uk-page, #sucker-page{
  cursor: pointer;
}

li{
  color: #ff0000eb;
  font-weight: 800;
  text-align: right;
  font-size: 1.13em;
  height: 18px;
  -webkit-transform:scale(1,0.95); /* Safari and Chrome */
  -moz-transform:scale(1,0.95); /* Firefox */
  -ms-transform:scale(1,0.95); /* IE 9 */
  -o-transform:scale(1,0.95); /* Opera */
  transform:scale(1,0.95); /* W3C */
}

ul {
    list-style:none;
    -webkit-padding-start: 0px;
    float:right;
}
a {
    position: relative;
}
a:hover{
  text-decoration: none !important;
}

@media (min-width: 600px){
  #shop-tab:hover::before, #shows-tab:hover::before, #music-tab:hover::before, #credits-tab:hover::before{
      content:'_ ';
      color: #ff0000eb;
      font-weight: 900;
      font-size: 2em;
      position: absolute;
      top:-33px;
      display:inline-block;
      -webkit-transform:scale(1,1.7); /* Safari and Chrome */
      -moz-transform:scale(1,1.7); /* Firefox */
      -ms-transform:scale(1,1.7); /* IE 9 */
      -o-transform:scale(1,1.7); /* Opera */
      transform:scale(1,1.7); /* W3C */
  }
  #shop-tab:hover::before{
      left: -4px;   
  }

  #shows-tab:hover::before{
      left: -17px;   
  }

  #music-tab:hover::before{
      left: -13px;   
  }

  #credits-tab:hover::before{
      left: -20px;  
  }
}

@media(min-width: 0px){
  #shirt-home{
    width: 80%;
    height: 80%;
  }
  .col-5{
    -ms-flex: 0 0 82.4% !important;
    flex: 0 0 82.4% !important;
    max-width: 82.4% !important;
  }
}

@media(min-width: 450px){
  #shirt-home{
    width: 70%;
    height: 70%;
  }
  .col-5{
    -ms-flex: 0 0 71.666667% !important;
    flex: 0 0 71.666667% !important;
    max-width: 71.666667% !important;
  }
}

@media(min-width: 770px){
  #shirt-home{
    width: 40%;
    height: 40%;
  }
  .col-5{
    -ms-flex: 0 0 41.666667% !important;
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }
}






