.lookbook-preview{
	display: block; 
	margin:0 auto; 
}

#lookbook-imgs img{
	/*width:60%;
	height: 60%;*/
	width:65%;
	height: 65%;
    padding:5px;
}


@media(min-width: 0px){
	#menu-item-roy{
		padding-bottom:16px;
	}
	.lookbook-preview{
	    width: 100%;
    	border-radius: 17px;
    	border: 3px solid #333;
	}
	#fullpage{
		margin-top:-54.14px;
	}
}

@media(min-width: 650px){
	#menu-item-roy{
		padding-bottom:75px;
	}
	.lookbook-preview{
	    width: 60%;
	    border: 7px solid #333;
		border-radius: 25px;
	}
}

@media(min-width: 768px){
	.lookbook-preview{
		width:69%;
	}
	#fullpage{
		margin-top: -163px;
	}
}



