.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    font-weight: 900;
    font-family: helvetica neue;
    color: #fff;
}
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.6em;}
}
@keyframes blinkTextCursor{
  from{border-right: 2px solid rgba(255,255,255,.75);}
  to{border-right: none;}
}

.music-item{
  /*font-family: 'Source Code Pro';*/
  font-size: 1em;
  position: relative;
  color:#ff0000eb;
  font-weight: 500;
}

.music-item svg{
    width: 0.67em !important;
    margin-right: 15px;
}

.music-item span{
  font-size: 0.75em;
  position: absolute;
  right: 0;
  bottom: 0;
}


#music-right a, #music-left a, #music-right a:hover, #music-left a:hover{
  text-decoration: none;
}

.music-item:hover{
  color:#ff0000a1;
 }

.ch-links{
  margin-top:22px !important;
}
.ch-links a img{
    width: 26px !important; 
}

.pad-me{
    padding-left: 25px;
    padding-right: 25px;
}

@media(min-width: 0px){
  #music-right, #music-left{
    padding-left: 25px;
    padding-right: 25px;
  }
  #cat-heaven-cover{
    width: 280px;height: 280px;
  }
 .ch-links a img{
    margin-right: 9px !important;
    margin-left: 9px !important;
  }
  iframe{
    width:300px;
    height:300px;
  }
  .music-item{
    margin-bottom:1.3em;
  }
}

@media(min-width: 576px){
  #music-right, #music-left{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media(min-width: 650px){
  #cat-heaven-cover{
    width: 350px;height: 350px;
  }
  .ch-links a img{
    margin-right: 23px !important;
    margin-left: 23px !important; 
  }
  iframe{
    width:400px;
    height:400px;
  }
  .music-item{
    margin-bottom:1em;
  }
}































