html, body{
    height:100%;
    font-family: Arial !important;
    background-color: #000 !important;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

p{
  color:rgba(240, 240, 240, 1);
}
#happyPoster{
  width:350px; 
  height:350px;
  margin: 0 auto;
  margin-bottom:70px;
}

#contactForm{
  display: block;
  width: 100%;
  z-index: 500000;
  background-color: transparent; /*rgba(31, 33, 34, 0.8);*/
  color:rgba(240, 240, 240, 1);
  font-family: helvetica neue, arial !important;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.95;
}
#sign-me-up { 
  width: 350px;
  margin-bottom:80px;
  margin: 0 auto;
}
#close-form{
    cursor: pointer;
    float:right;
    font-size: 26px;
    line-height: 26px
}

#sign-up-title{
    font-size: 14px;
    line-height: 1.2em;
    padding-bottom: 32px !important;
}

#enter-site{
  position: absolute;
  color:rgba(240, 240, 240, 1) !important;
  font-size: 13px;
  font-weight: 500;
  top: 0;
  right:0;
  padding:10px 15px 10px 15px;
  font-family: "helvetica neue", arial;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

label{
    font-size: 12px;
}

button{
    background-color: transparent;
    color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(240, 240, 240, 1);
    margin-top: 35px !important;
    padding: 0.24em 1.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px !important;
    text-transform: uppercase !important;
}



@media (min-width: 0px){
    #sign-me-up{
        width: 280px;
    }
    #happyPoster{
      width:330px; 
      height:330px;
    }
    .happy-container{
      margin-top:0px; 
      margin-bottom:35px;
    }
}

@media (min-width: 420px){
    #sign-me-up{
        width: 350px;
    }
    #happyPoster{
      width:350px; 
      height:350px;
    }
}

@media (min-width: 480px){
    .happy-container{
      margin-top:35px; 
    }
}



