#tickets-link{
	color:#ff0000eb;
	font-weight: 600;
	letter-spacing: 1px;
}

#tickets-link:hover{
	text-decoration: underline !important;
}

#flyers img{
	width:78%; 
	height:78%; 
}

#flyers-m img{
	width:60%;
	height:75%;
}

@media(min-width: 0px){
	#tix{
		margin-top: 20px;
	}
	#tickets-link{
		font-size: 25px;
	}
	#flyers{
		display: none;
	}
	#flyers-m{
		display: flex;
	}
	#flyers img{
		width:75%; 
		height:75%; 
	}
	#fly-wrapper{
		margin-top:0px;
	}
}

@media(min-width: 650px){
	#tix{
		margin-top: 50px;
	}
	#tickets-link{
		font-size: 23px;
	}
	#flyers{
		display: flex;
	}
	#flyers-m{
		display: none;
	}
	#fly-wrapper{
		margin-top:87px;
	}
}