#tickets-link{
	color:#ff0000eb;
	font-weight: 600;
	letter-spacing: 1px;
}

#tickets-link:hover{
	text-decoration: underline !important;
}

#tix{
	margin-top: 50px;
}
#tickets-link{
	font-size: 23px;
}
#flyers{
	display: flex;
}
#flyers-m{
	display: none;
}
#fly-wrapper{
	margin-top:87px;
}

#mlb2-1047248.ml-form-embedContainer{
	max-width: 88% !important;
	padding-top: 40px;
}

.ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit{
	margin-top: -30px !important;
}


@media(min-width: 0px){
	#flyers img {
	    width: 280px;
	    height: 100%;
	}
}

@media(min-width: 420px){
	#flyers img {
	    width: 355px;
	    height: 100%;
	}
}
