html, body{
    height:100%;
    font-family: Arial !important;
    background-color: #000 !important;
}

body {
    margin: 0px;
    padding: 0px;
}
a{
    color: inherit !important;
    text-decoration: none !important;
}
#links{
    float:right;
}
.credits-block p{
    margin-bottom: 5px !important;
    letter-spacing: 1px;
    color: #d21d46;
    text-align: center;
}

.bold{
    font-weight: bold;
}

#title{
    margin-bottom:0px;
    margin-top: 36px;
    margin-bottom: 50px;
}

#wrap{
    width: 900px; 
    margin: 0 auto;
}

.row{
    padding: 0 !important;
    margin: 0 !important;
}

.social{
    color: #d21d46;
    /*font-size: 0.75em;*/
    font-weight: bold;
    font-size: 12px;
    padding-right:30px;
    cursor: pointer;
}

#name{
    color: #ff0000;
    /*font-size: 0.75em;*/
    font-weight: bold;
    float: right;
    letter-spacing: 1px;
    cursor: default;
}

#name-img{
    padding-bottom:15px;
}

#link-wrap{
    display: inherit; 
}



#contactForm{
  display: block;
  height: 100%;
  width: 100%;
  z-index: 500000;
  position: absolute;
  background-color: transparent; /*rgba(31, 33, 34, 0.8);*/
  color:rgba(240, 240, 240, 1);
  font-family: helvetica neue, arial !important;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.95;
}
#sign-me-up { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  margin-bottom:80px;
}
#close-form{
    cursor: pointer;
    float:right;
    font-size: 26px;
    line-height: 26px
}

#sign-up-title{
    font-size: 14px;
    line-height: 1.2em;
    padding-bottom: 35px !important;
}

label{
    font-size: 12px;
}

button{
    background-color: transparent;
    color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(240, 240, 240, 1);
    margin-top: 35px !important;
    padding: 0.24em 1.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px !important;
    text-transform: uppercase !important;
}


@media (min-width: 0px){
    .social{
        font-size: 10px;
        padding-right: 28px;
    }
    .credits-block p{
        font-size: 8px;
    }

    #link-wrap{
        margin:0 auto;
        padding-top: 5px;
    }
    
    #name-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        margin-top: -15px;
    }
    .vid iframe, .credits-block{
        width: 224px;
        height: 126px;
    }
    #credits{
        top: -167px;
        left: -35px;
        width: 53%;
    }
    #name-container{
        padding-right:15px;
    }
    #perfume-img{
        width: 100px;
    }
    #links{
        margin: 0 auto;
        padding-top: 5px;
        display: inherit;
    }
    #social-row{
        display: inherit;
    }
    #links img{
        width: 16px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 0px;
    }
    .vid{
        margin-top: -30px;
    }
    #sign-me-up{
        width: 280px;
    }
}

@media (min-width: 351px){
    .social{
        font-size: 11px;
        padding-right: 33px;
    }
    .credits-block p{
        font-size: 8.4px;
    }
    #links img {
        width: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media (min-width: 395px){

    .vid iframe, .credits-block{
        width: 288px;
        height: 162px;
    }
    #credits{
        top: -212px;
        left: -46px;
        width: 53%;
    }
    .social{
        font-size: 12px;
        padding-right: 35px;
    }
    .credits-block p{
        font-size: 11px;
    }
}

@media (min-width: 420px){
    #sign-me-up{
        width: 350px;
    }
}

@media (min-width: 521px){
    .social{
        padding-right:30px;
        letter-spacing: 1px;
    }
    #name-img{
        width:70px; 
        margin-top:-1.5px;
    } 
}

@media (min-width: 580px){
    .social, .credits-block p{
        font-size: 10px;
    }
    .col-md-6.order-sm-2.order-md-1{
        padding-left:15px;
    }
    .vid iframe, .credits-block{
        width: 400px;
        height: 225px;
    }
    #credits{
        top: -292px;
        left: -60px;
        width: 53%;
    }
    #perfume-img{
        width: 150px;
    }
    #links img{
        width: 16px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .vid{
        margin-top: 0px;
    }
}

@media (min-width: 768px){

    #name-img{
        float:right;
    }
    #link-wrap{
        margin: inherit;
    }
    .col-md-6.order-sm-2.order-md-1{
        padding-left:30px;
    }
    .vid iframe, .credits-block{
        width: 560px;
        height: 315px;
    }
    #credits{
        top: -389px;
        left: -60px;
        width: 43%;
    }
    #name-container{
        padding-right:45px
    }
    #link-wrap{
        padding-top: 0px;
    }
    #links{
        float: right;
        margin-top: -10px;
    }
    #social-row{
        display: block
    }
    .social{
        padding-right: 28.1px;
    }
}

@media (min-width: 785px){
    .social{
        padding-right: 30px;
    }
}

@media (min-width: 850px){
    .social, .credits-block p{
        font-size: 11.8px;
    }
    #links img{
        width: 16px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media (min-width: 1000px){
    .social, .credits-block p{
        font-size: 12px;
    }
    .vid iframe, .credits-block{
        width: 720px;
        height: 405px;
    }
    #credits{
        top: -517px;
        width: 53%;
        left: -100px;
    }
}




